### Python basics

In [1]:
print("Hello Python!")

Hello Python!

In [2]:
a = 4; 
b = 7;

In [3]:
a + b

11

In [4]:
a * b

28

In [5]:
# Make substraction 
b - a

3

In [6]:
my_message = "Hello Students!" 
new_message = "How are you doing?"

In [7]:
print(my_message)

Hello Students!

In [8]:
print(new_message)

How are you doing?

In [9]:
number_of_students = 35 
temperature = 36.9 
city = "Singapore"

In [10]:
type(number_of_students)

int

In [11]:
type(temperature)

float

In [12]:
type(city)

str

In [13]:
45 + 8

53

In [16]:
first_name = "Pranab" 
last_name = "Das" 
print(first_name + " " + last_name)

Pranab Das

In [17]:
3 * 6

18

In [18]:
"rain! " * 3

'rain! rain! rain! '

In [19]:
"Singapore" + 35.7

TypeError: can only concatenate str (not "float") to str

In [20]:
"Singapore" + str(35.7)

'Singapore35.7'

In [21]:
print("What is your name?")
name = input()
print("Hello " + name + "! Nice to meet you.")

What is your name?
Pranab
Hello Pranab! Nice to meet you.

In [22]:
name = input("What is your name? ")
print("Hello " + name + "! Nice to meet you.")

What is your name? Pranab
Hello Pranab! Nice to meet you.

In [28]:
print("Hello", name, "!", "Nice to meet you.")

Hello Pranab ! Nice to meet you.

In [30]:
age = 33
print("My age is", age)

My age is 33

In [25]:
age = input("How old are you?\n")
type(age)

How old are you?
33

str