# Pandas dataframe encryption and decryption
**Purpose:** Work on a sensitive data file? You can use AES-256 encryption to store the data. 

**Author:** Pranab Das (Twitter : @pranab_das) 

**Version:** 20191017

**Requirement:** Pycrypt, simplecrypt

In [1]:
import pandas as pd
from io import StringIO
from simplecrypt import encrypt, decrypt
from getpass import getpass

Create a dataframe.

In [2]:
data = {'Date': ['2019-10-10', '2019-10-12', '2019-10-15'], \
        'Credit Amount (SGD)': [40.00, 500.00, 60.00],\
        'Transaction type': ['CC *1234', 'Bank transfer', 'CC *1234']}
df = pd.DataFrame(data)
df

         Date  Credit Amount (SGD) Transaction type
0  2019-10-10                 40.0         CC *1234
1  2019-10-12                500.0    Bank transfer
2  2019-10-15                 60.0         CC *1234

Store data in csv format.

In [3]:
data_csv = df.to_csv(index=False)

Encrypt the data using password : bfsS#@308sW (Example)

In [4]:
print('Enter a password for encryption.')
encdata = encrypt(getpass("password: "), data_csv)

Enter a password for encryption.
password: ········

Write/store the encrypted data in a file.

In [5]:
file_w = open('file.enc', 'wb')
file_w.write(encdata)
file_w.close()

Open/Decrypt the data from encrypted file.

In [6]:
file_r = open('file.enc','rb').read()

In [7]:
print('Enter password for decryption.')
CSVplaintext = decrypt(getpass("password: "), file_r).decode('utf8')

Enter password for decryption.
password: ········

In [8]:
CSVplaintext

'Date,Credit Amount (SGD),Transaction type\n2019-10-10,40.0,CC *1234\n2019-10-12,500.0,Bank transfer\n2019-10-15,60.0,CC *1234\n'

In [9]:
DATA=StringIO(CSVplaintext)

In [10]:
df = pd.read_csv(DATA)

In [11]:
df

         Date  Credit Amount (SGD) Transaction type
0  2019-10-10                 40.0         CC *1234
1  2019-10-12                500.0    Bank transfer
2  2019-10-15                 60.0         CC *1234