### Python lists

- It is a good idea to name lists as plural as they contain multiple elements. Like, `names`, `items` etc.

In [1]:
names = ['Rupal', 'Pranab', 'Bhanu']

In [2]:
print(names)

['Rupal', 'Pranab', 'Bhanu']

- Lists are mutable.

In [3]:
names[2] = 'Nihit'

In [4]:
print(names)

['Rupal', 'Pranab', 'Nihit']

- Adding new items to the list

In [5]:
names.append('Bhanu')

In [6]:
print(names)

['Rupal', 'Pranab', 'Nihit', 'Bhanu']

- Inserting item in a specific place.

In [7]:
names.insert(2, 'Nitin')

In [8]:
print(names)

['Rupal', 'Pranab', 'Nitin', 'Nihit', 'Bhanu']

- Deleting items from list.

In [9]:
del names[1]

In [10]:
print(names)

['Rupal', 'Nitin', 'Nihit', 'Bhanu']

- `pop` method of removing. `pop` let you use the removed item.

In [11]:
removed_name = names.pop()

In [12]:
print(names)

['Rupal', 'Nitin', 'Nihit']

In [13]:
print(removed_name)

Bhanu

- `pop` can remove actually any item.

In [14]:
names.pop(1)

'Nitin'

In [15]:
print(names)

['Rupal', 'Nihit']

- Remove an item by its value.

In [16]:
names.remove('Rupal')

In [17]:
print(names)

['Nihit']

**NOTE:** If there are more than one item with same value, the `.remove` method removes only the first occurance.

In [18]:
names.append('Rupal')
names.append('Nitin')
names.append('Nihit')
names.append('Bhanu')

In [19]:
print(names)

['Nihit', 'Rupal', 'Nitin', 'Nihit', 'Bhanu']

In [20]:
names.remove('Nihit')

In [21]:
print(names)

['Rupal', 'Nitin', 'Nihit', 'Bhanu']

- Sort lists temporarily using `sorted` function.

In [22]:
print(sorted(names))

['Bhanu', 'Nihit', 'Nitin', 'Rupal']

In [23]:
print(names)

['Rupal', 'Nitin', 'Nihit', 'Bhanu']

- Sort lists permanently by usning `sort` method.

In [24]:
names.sort()

In [25]:
print(names)

['Bhanu', 'Nihit', 'Nitin', 'Rupal']

- Reverse list times using `.reverse` method

In [26]:
names.reverse()

In [27]:
print(names)

['Rupal', 'Nitin', 'Nihit', 'Bhanu']

In [28]:
names[2] = 'nihit'

In [29]:
names.sort()

In [30]:
print(names)

['Bhanu', 'Nitin', 'Rupal', 'nihit']

**Note:** Notice how `sort` did not work as expected when we mix uppercase and lowercase.

- Looping items in a list

In [31]:
for name in names:
    print(name)

Bhanu
Nitin
Rupal
nihit

- Use `range` function to create numerical lists.

In [32]:
nums = list(range(1, 11))

In [33]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
squares = []

for num in nums:
    squares.append(num**2)

In [35]:
print('nums\t squares')

for ii in range(len(nums)): 
    print(nums[ii], '\t', squares[ii])

nums	 squares
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [36]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

**List comprehensions**

In [37]:
squares = [value**2 for value in range(1, 11)]

In [38]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Tuples**

Tuples are just like *lists* except that they are immutable. However, we can update the whole tuple instead of individual entries.

In [39]:
tup = (1, 2, 3)

In [40]:
tup[0]

1

In [41]:
# tup[1] = 4 # would result in error

TypeError: 'tuple' object does not support item assignment

In [42]:
tup = (2, 3, 4, 5)

In [43]:
print(tup)

(2, 3, 4, 5)

In [44]:
type(tup)

tuple