In [1]:
import pandas as pd

# Create a dataframe
data = {'User':  ['Edwin', 'Pranab', 'Luis'],
        'Activity': ['Sample preparation', 'ARPES measurement', 'XPS measurement'],
         'Usage (hours)': [4, 2, 2]
        }

df = pd.DataFrame (data)

In [2]:
# Print the dataframe
df

     User            Activity  Usage (hours)
0   Edwin  Sample preparation              4
1  Pranab   ARPES measurement              2
2    Luis     XPS measurement              2

In [3]:
# Save as both excel and csv 
df.to_csv('user-activity.csv', index=False)
df.to_excel('user-activity.xlsx', index=False)

In [4]:
# Read the files 
df_copy_csv = pd.read_csv('user-activity.csv')
df_copy_excel = pd.read_excel('user-activity.xlsx')

In [5]:
df_copy_csv

     User            Activity  Usage (hours)
0   Edwin  Sample preparation              4
1  Pranab   ARPES measurement              2
2    Luis     XPS measurement              2

In [6]:
df_copy_excel

     User            Activity  Usage (hours)
0   Edwin  Sample preparation              4
1  Pranab   ARPES measurement              2
2    Luis     XPS measurement              2

In [7]:
# Add new row of data
df_copy_csv = df_copy_csv.append({'User' : 'Akash', \
                                  'Activity' : 'Sample de-cap', \
                                  'Usage (hours)' : 3}, \
                                  ignore_index=True)

In [8]:
df_copy_csv

     User            Activity  Usage (hours)
0   Edwin  Sample preparation              4
1  Pranab   ARPES measurement              2
2    Luis     XPS measurement              2
3   Akash       Sample de-cap              3

In [9]:
# Drop last row 
df_copy_csv.drop(df_copy_csv.index[[-1]], inplace=True)
df_copy_csv

     User            Activity  Usage (hours)
0   Edwin  Sample preparation              4
1  Pranab   ARPES measurement              2
2    Luis     XPS measurement              2

In [10]:
# We can remove any row by 
df_copy_csv.drop(df_copy_csv.index[[1]], inplace=True)
df_copy_csv

    User            Activity  Usage (hours)
0  Edwin  Sample preparation              4
2   Luis     XPS measurement              2

In [11]:
# Edit a row 
df_copy_csv.loc[0] = ['Edwin', 'PLD growth', 5]
df_copy_csv

    User         Activity  Usage (hours)
0  Edwin       PLD growth              5
2   Luis  XPS measurement              2

In [12]:
df_copy_csv.to_csv('user-activity.csv', index=False)
df_copy_csv = pd.read_csv('user-activity.csv')
df_copy_csv

    User         Activity  Usage (hours)
0  Edwin       PLD growth              5
1   Luis  XPS measurement              2

In [13]:
# Add a new column. We will use datetime format
import datetime

In [14]:
date = [datetime.date(2020, 7, 2), datetime.date(2020, 7, 4), datetime.date(2020, 7, 5)]

In [15]:
df['Date'] = date
df

     User            Activity  Usage (hours)        Date
0   Edwin  Sample preparation              4  2020-07-02
1  Pranab   ARPES measurement              2  2020-07-04
2    Luis     XPS measurement              2  2020-07-05

In [16]:
# Insert in the first column 
df.pop('Date')
df.insert(0, 'Date', date)
df

         Date    User            Activity  Usage (hours)
0  2020-07-02   Edwin  Sample preparation              4
1  2020-07-04  Pranab   ARPES measurement              2
2  2020-07-05    Luis     XPS measurement              2